<body>
  <table class="table">
    <thead>
      <tr>
        <th>FULL_NAME</th>
        <th>EMAIL</th>
        <th>TEAM_NAME</th>
      </tr>
    </thead>
    <% pro.forEach(x => { %>
      <tr>
        <td><%= x.full_name %></td>
        <td><%= x.email %></td>
        <td><%= x.team_name %></td>
      </tr>
      <% }) %>
  </table>
</body>


