<h1 class="mt-4">Perform Join Operation In MongoDB Database</h1>
<p class="lead mb-3">Welcome Sir</p>
<a href="/first" class="btn btn-secondary">First Json File Data</a>
<a href="/second" class="btn btn-secondary">Second Json File Data</a>
<a href="/third" class="btn btn-secondary">Data After Joining </a>
<h1 class="mt-4">Approach USed To Join 2 Large Json Files</h1>
<h3 class="mt-4">1 :- I Have Used Lookup For Joining Which is Basically the Projection Of 2 Json Data Files</h3>
<h3 class="mt-4">2 :- Then Used Unwind To covert The array To Object </h3>
<h3 class="mt-4">3 :- At  Last Used Project To Select The Field to Be Displayed </h3>
